* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: #FFFFFF;    
    overflow-x: hidden;
}
button{
    cursor: pointer;
}

.fiol-button{
    padding: 24px 90px;
    border: 1px solid #7875FE;
    color: #7875FE;
    text-decoration: none;
    font-size: 20px;
    display: inline-flex;             
    align-items: center;       
    justify-content: center; 
}

@media (max-width: 767px) {
    .fiol-button{
        padding: 15px 38px;
        font-size: 18px
    }
}
.text{
    font-size: 18px;
    color: #85859B;
    line-height: 1.7;   
}
h1, h2, h3, h4{
    color: #666666
}
h1 {
    font-size: 60px;
    color: #4C5866;
}

h4 {
    font-size: 18px;
    font-weight: 500;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

@media (max-width: 1109px) {
    h1 {
        font-size: 50px;
    }

    h4 {
        font-size: 18px;
        font-weight: 500;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 30px;
    }    
}


@media (max-width: 767px){
    h1 {
        font-size: 30px;
    }

    h4 {
        font-size: 16px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 24px;
    }
    .text{
        font-size: 16px;      
    }
}

/*header*/

header {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #EAEAEA; 
}

.header-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 29px 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-links-list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.header-link a {
    text-decoration: none;
    color: #333333;
    font-size: 14px;
}

.header-buttons {
    display: flex;
    gap: 20px;
}

.header-button, 
.header-mobile-button {
    background: none;
    border: none;
    padding: 0;
}

.header-mobile-button {
    display: none;
}




@media (max-width: 1109px) {

    .header-container {
        display: grid;
        grid-template-columns: 1fr; 
        padding: 0;
        gap: 0;
    }

    .header-logo {
        grid-row: 1;
        justify-self: start; 
        padding: 15px 20px;
    }

    .header-right {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        gap: 0;
    }
    .header-buttons {
        grid-row: 1;
        position: absolute;
        right: 20px;
        top: 15px;
        background: transparent;
    }

    .header-links {
        grid-row: 2;
        width: 100%;
        padding: 15px 20px;
        border-top: 1px solid #EAEAEA; 
        border-bottom: 1px solid #EAEAEA; 
    }

    .header-links-list {
        width: 100%;
        display: flex;
        justify-content: space-between; 
        gap: 0; 
    }
}


@media (max-width: 767px){
    .header-container {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
        max-width: 100%;
    }

    .header-logo {
        display: block;
        max-width: 140px;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 15px auto;
    }

    .header-right {
        display: flex;
        width: 100%;
        padding: 12px 20px; 
        justify-content: space-between; 
        align-items: center;
        box-sizing: border-box;
        border-top: 1px solid #EAEAEA; 
        border-bottom: 1px solid #EAEAEA; 
    }

    .header-links {
        display: none;
    }

    .header-mobile-button {
        display: block;
        order: 1; 
    }

    .header-buttons {
        position: static;
        display: flex;
        gap: 20px;
        order: 2;
    }
}

.bumaga {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 130px 165px 0 165px;
}

.bumaga-left {
    flex-shrink: 0;
    max-width: 445px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 125px;
}


.bumaga-left .fiol-button{
    align-self: flex-start;
}

.bumaga-right {
    width: 540px;
    height: 560px;
    flex-shrink: 0;
    
    background-image: url('assets/chmo.png');
}

.bumaga-left-text{
    margin: 30px 0 30px 0;
}

@media (max-width: 1109px) {
    .bumaga {
        max-width: 1110px;
        padding: 60px 40px 0 40px;
    }
    .bumaga-left{
        margin-right: 30px;
    }
    .bumaga-right{
        width: 270px;
        height: 410px;
        background-size: 100%;
    }
}

@media (max-width: 767px) {
    .bumaga{
        max-width: 768px;
        padding: 50px 15px;
    }
    .bumaga-right{
        display: none;
    }
    .bumaga-left-text{
        font-size: 14px;
        margin: 15px 0 20px 0;
    }
}
.belizna{
    background-color: #EBEBEB;
    padding: 90px 165px;
}

.belizna-results{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
}

.belizna-result{
    max-width: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid #C0C0C0;
}

.belizna-result-text-block{
    margin-left: 30px;
}

.belizna-result-text{
    line-height: 1.5
}

.belizna-bottom{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

br {
    content: "";
    display: block;
    margin-bottom: 20px;
}

.belizna-bottom-text-block h2{
    margin-bottom: 20px;
}

.belizna-bottom-text-block{
    width: 350px;
}

@media (max-width: 1109px) {
    .belizna-result{
        width: 210px;
        flex-direction: column;        
    }
    .belizna-bottom img{
        width: 50%;
    }
    .belizna{
        padding: 60px 40px;
    }
}

@media (max-width: 767px) {
    .belizna-results{
        flex-direction: column;
    }
    .belizna-result{
        flex-direction: row;
        width: 290px;
        margin-top: 20px;
    }
    .belizna-result-text{
        font-size: 16px;
    }
    .belizna-result img{
        width: 80%;
    }
    .belizna-bottom img{
        width: 290px;
    }    
    .belizna{
        padding: 60px 15px;
    }
    .belizna-bottom{
        flex-direction: column;
    }
    .belizna-bottom-text-block{
        width: 290px;
    }
}

.products{
    padding: 90px 165px;
    display: flex;
    align-items: center;
}

.products-top, .products-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.product{
    width: 255px;
    margin-right: 30px;
}

.product img{
    margin-bottom: 20px;
}

.product-tirage{
    display: block;
    margin: 8px 0;
    font-size: 14px;
    color: #b5b5bd;
}

.product-text{
    margin-bottom: 20px;
}

.podrobnee{
    color: #7875FE;
    text-decoration: none;
    font-size: 20px;
}

@media (max-width: 1109px) and (min-width: 768px) {
    .product{
        width: 330px;
        margin-right: 30px;
    }
    .products{
        justify-content: space-between;
        flex-direction: column;
        padding: 60px 39px;
    }
    .products-bottom{
        align-items: flex-end;
    }
    .products-top{
        align-items: flex-start;
        margin-bottom: 60px;
    }
    .product-text{
        width: 330px;
        font-size: 18px;
    }
    .product-right{
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .product{
        width: 290px;
        margin-bottom: 60px;
    }

    .product{
        margin-right: 0;
    }
    .products{
        padding: 60px 15px 0 15px;
        flex-direction: column;
    }
    .products-top, .products-bottom{
        flex-direction: column;
        align-items: center;
    }
    .product-text{
        font-size: 16px;
    }
}

.partners{
    background-color: #EBEBEB;
    padding: 90px 0;
}
.partners-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 165px;
}

.partners img:not(:last-child){
    margin-right: 30px;
}

@media (max-width: 1109px) {
    .partners-container{
        padding: 0;
        max-width: 690px;
        margin: 0;
    }
    .partners{
        padding: 60px 40px;
    }
    .partners-container img{
        width: 150px;
    }
}

@media (max-width: 767px) {
    .partners{
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;        
    }
}

.sketchbook{
    display: flex;
    align-items: center;
    padding: 90px 165px 0 165px;
}

.sketchbook-left{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 350px;

}

.sketchbook-left h2{
    margin-bottom: 8px;
}

.sketchbook-text{
    margin-bottom: 30px;
}

.sketchbook-right{
    background-image: url(assets/sketchbook.png);
    width: 725px;
    height: 410px;
}

@media (max-width: 1109px) and (min-width: 768px) {
    .sketchbook{
        padding: 60px 0 0 30px;
        align-items: flex-start;
    }
    .sketchbook-right{
        width: 369px;
        height: 334px;
        background-size: 450px 340px;
    }
    .sketchbook-left h2{
        font-size: 30px;
    }
    .sketchbook-text{
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .sketchbook{
        flex-direction: column-reverse;
        padding: 60px 15px;
        align-items: flex-start;
        justify-content: center;
    }
    .sketchbook-right{
        background-size: 100%;
        width: 290px;
        height: 221px;
    }
}

/*footer*/

footer{
    display: flex;
    flex-direction: column;
}

.footer-top{
    background-color: #4C5866;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 162px;
}

.footer-top-left a{
    text-decoration: none;
}

.footer-top-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 186px
}

.footer-bottom{
    display: block;
    font-size: 13px;
    align-self: center;
    color: #4C5866;
}

@media (max-width: 1109px) {
    .footer-top {
        padding: 28px 40px;
    }
}

@media (max-width: 767px) {
    .footer-top{
        flex-direction: column;
        padding: 0;
    }
    .footer-top-right{
        border-bottom: 0.5px solid;
        border-color: #DDDDDD;
        padding: 20px 75px;
    }
    .footer-top-left{
        padding: 20px 0 20px 0;
    }
}
